html {
   background-color: #242424;
   -webkit-text-size-adjust: none;
   text-size-adjust: none;
}

html, body {
   margin: 0;
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
}

[obs-websocket-state=disconnected] body {
   border: 1px solid red;
   box-sizing: border-box;
}

main {
   position: relative;
   padding: 0.25em 0.5em;
   flex: 1 1 auto;
   overflow-y: auto;
}


h1 {
   text-align: center;
   font-size: 1.25em;
}

#order-of-service {
   margin: 0;
   padding-inline-start: 1.5em;
}

   #order-of-service[dragging] {
      cursor: grabbing !important;
   }

   #order-of-service li {
      border: 1px solid transparent;
   }

   #order-of-service:not([dragging]) li {
      cursor: grab;
   }

   #order-of-service[dragging] li:hover {
      border-color: red;
   }

   #order-of-service li[selected] {
      padding-left: 0.5em;
      background-color: #343434;
   }

   #order-of-service .service-item {
      display: inline-block;
      background-color: transparent;
      border: none;
      width: 100%;
      padding: 0;
      user-select: none;
      font-weight: bolder;
      white-space: nowrap;
   }

   #order-of-service:not([dragging]) .service-item {
      cursor: text;
   }

   #order-of-service .service-item:hover {
      background-color: #191919;
   }

   #order-of-service .service-item[auto-scene]:after {
      content: attr(auto-scene);
      display: inline-block;
      margin-left: 0.5em;
      font-style: italic;
      font-weight: 100;
      float: right;
   }

#autocomplete-list {
   position: absolute;
   background-color: #333;
   z-index: 1;
}

   #autocomplete-list > div {
      padding: 0 1em;
   }

.autocomplete-active, .autocomplete-items > div:hover {
   /*when navigating through the items using the arrow keys:*/
   background-color: DodgerBlue !important;
   color: #ffffff;
}

h1{
   flex: 1 1 auto;
}

button#edit-auto-scenes, .change-font-size {
   width: auto;
   height: 1.5em;
   line-height: 1em;
   margin: auto 1px;
   padding: 0.2em;
}

h1, p, li, button, label {
   user-select: none;
}

h1, p, li, button, textarea, input, select, span, label, tab {
   color: white;
   font-weight: 100;
   font-family: Calibri;
}

p, li, button, textarea, tab, input, label, select {
   font-size: 1em;
}

button, tab, input, select {
   background-color: #454545;
}

button {
   display: block;
   margin: 0.05em;
   width: 100%;
   border: none;
   border-radius: 0.2em;
   padding: 0.1em;
   outline: none;
   height: 1.75em;
   text-anchor: middle;
   user-select: none;
}

   button:hover {
      background-color: #787878;
   }

   button:disabled {
      background-color: #2f2f2f;
      color: #777;
   }

#key-moments {
   display: block;
   background-color: #454545;
   resize: vertical;
   width: -webkit-fill-available;
   border-width: 0 1px 1px 1px;
   border-color: #222;
   min-height: 5em;
   outline: none;
}

#reset-key-moments[highlight] {
   background-color: #9009;
}

.menu {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

   .menu > div {
      margin: 1em;
      padding: 1em;
      background-color: #252525f6;
      border: 0.05em solid black;
      border-radius: 1em;
      min-height: fit-content;
   }

#obs-websocket-settings .row > label {
   width: 6em;
   text-align: right;
   line-height: 2em;
   margin-right: 0.5em;
}

#obs-websocket-settings .row > input {
   display: block;
   width: 100%;
}

#obs-websocket-connect:before {
   content: "Connect";
   display: inline-block;
}

[obs-websocket-state=connected] #obs-websocket-connect:before {
   content: "Disconnect";
}

[obs-websocket-state=disconnected] #obs-websocket-connect {
   animation: pulse-red;
   animation-iteration-count: infinite;
   animation-duration: 1s;
}

button#add-auto-scene {
   float: left;
   margin-left: 1em;
   width: 2em;
   height: 2em;
}

.menu button.close {
   width: 8em;
   margin: auto;
}

.auto-scene input, .auto-scene select {
   width: 100%;
   -ms-flex: 1;
   -webkit-flex: 1;
   flex: 1;
   border: none;
   border-radius: 0.2em;
   padding: 0.1em;
   margin: 0.05em;
}

.auto-scene button.remove {
   -ms-flex: 0;
   -webkit-flex: 0;
   flex: 0;
}

.auto-scene {
   display: flex;
   flex-direction: row;
}

   .auto-scene .remove:after {
      content: "-";
      padding: 0 0.5em;
   }

.row {
   display: flex;
   flex-direction: row;
   width: 100%;
}

#add-key-moment:enabled {
   background-color: #229922;
   color: #000;
   font-weight: 600;
}

#add-key-moment[count-down]:after {
   content: " (" attr(count-down) ")";
}

button.change-font-size[direction] {
   width: 2em;
}

   button.change-font-size[direction]:before {
      content: attr(direction);
   }

footer {
   display: flex;
   font-size: 0.9em;
   background-color: #363636;
}

   footer span {
      display: inline-block;
   }

   footer #obs-websocket-host, footer #version {
      margin: 0 0.5em;
      padding: 0.1em;
   }

[obs-websocket-state=disconnected] footer {
   animation-name: pulse-red;
   animation-duration: 1.0s;
   animation-iteration-count: 3;
   background-color: #cc0000;
}

[obs-websocket-state=connected] footer,
[obs-websocket-state=connected] .obs-websocket-connection:after {
   animation-name: pulse-green;
   animation-duration: 1.0s;
   animation-iteration-count: 1;
}

#version {
   color: white;
   font-weight: 100;
   font-style: italic;
}

   #version:before {
      content: "v";
   }

.obs-websocket-connection:after {
   content: "OBS WebSocket Not Connected";
   display: inline-block;
   font-style: italic;
   border-radius: 0.5em;
   border: 1px solid transparent;
}

[obs-websocket-state=disconnected] .obs-websocket-connection:after {
   content: "OBS WebSocket Disconnected";
}

@keyframes pulse-red {
   0% {
      background-color: #363636;
   }

   50% {
      background-color: #cc0000;
   }

   100% {
      background-color: #363636;
   }
}

@keyframes pulse-green {
   0% {
      background-color: #363636;
   }

   50% {
      background-color: #00cc00;
      color: white;
   }

   100% {
      background-color: #363636;
   }
}

[obs-websocket-state=connected] .obs-websocket-connection:after {
   content: "OBS WebSocket Connected";
   color: #00cc00;
}

[obs-websocket-state=connected][obs-websocket-host=true] #obs-websocket-host:after {
   content: "Host";
}
