tabgroup {
   display: flex;
}

tab:first-child {
   border-radius: 0.5em 0 0 0;
}

tab:last-child {
   border-radius: 0 0.5em 0 0;
   border-width: 1px;
}

tab {
   display: inline;
   padding: 0.15em;
   width: 100%;
   font-size: 1.1em;
   border-style: solid;
   border-color: black;
   flex: 1 1 auto;
   text-align: center;
   vertical-align: middle;
   border-width: 1px 0 1px 1px;
   border-style: solid;
   border-color:#222;
   outline: none;
   user-select: none;
}

   tab:not([disabled]):hover {
      cursor: pointer;
   }

   tab:not([disabled]):not([selected]):hover {
      background-color: #585858;
   }

tab[disabled]{
   color: #777;
}

   tab[selected]:not([disabled]) {
      background-color: #787878;
   }